h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --link-color: #212121;
  --btn-color: #ffffff;
  --second-btn-color: #212121;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
/* ----------index.html----------- */
/* -----------header--------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
}
.header-logo-studio {
  color: var(--link-color);
}
.nav {
  display: flex;
}
.nav-list {
  color: var(--link-color);
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  display: flex;
}
.header-contact {
  margin-left: auto;
}
.header-mail {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding: 32px 0;
}
.header-link:hover,
.header-link:focus,
.highlighted {
  color: var(--accent-color);
}
/*--------------- hero------------- */

.hero {
  text-align: center;
  background-color: #2f303a;
  letter-spacing: 0.06em;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 670px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
}
.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.pdng-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* advantage */
.advatage-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
}
.advatage-after-title {
  line-height: calc(24 / 14);
}
.advantage-list {
  display: flex;
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

/* about */
.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-post,
.team-name {
  font-size: 16px;
  line-height: calc(19 / 16);
}
.team-name {
  font-weight: 500;
  color: var(--first-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list {
  display: flex;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item-text {
  margin-left: auto;
  margin-right: auto;
}
/* footer */
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--second-title-color);
}
.footer-link {
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}
.address-link {
  color: var(--second-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* portfolio.html */
.portfolio-filter-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-item-example {
  width: calc((100% / 9 * 30px) / 9);
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--second-btn-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
}
.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-highlighted {
  color: var(--btn-color);
  background-color: var(--accent-color);
}
.portfolio-caption {
  padding: 20px 24px;
}
.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-after-title {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--main-color);
}
